* {
    color: #fff;
    font-family: 'Nunito Sans', sans-serif;
}

.container {
    position: relative;
    display: flex;
    align-items: center;
}

.content {
    z-index: 1;
}

.login {
    min-height: 100vh;
}

.btn-back {
    position: relative;
    top: 40px;
    right: 70px;
    z-index: 200;
}

.header h1 {
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
}

.header p {
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;

}

.login-form label {
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    margin-bottom: 12px;
}

.login-form input {
    width: 411px;
    height: 45px;
    margin-bottom: 15px;
    border-radius: 8px;
    z-index: 200;
}

.login-form :placeholder-shown {
    color: #B1B8C1;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    z-index: 999;
}

.btn-otp {
    margin-top: 15px;
    width: 411px;
    height: 45px;
    margin-bottom: 15px;
    border-radius: 8px;
    background-color: #E54649;
    border: none;
    font-size: 13px;
}

.btn-forget {
    font-size: 13px;
}

.btn-forget a {
    color: #E54649;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
}

.bg-image {
    background-image: url(../img/login-img/login.png);
    background-size: cover;
    background-position: center;
}

.bg-box {
    position: absolute;
    z-index: 0;
    top: 190px;
    left: 1px;
    pointer-events: none;
}

.bg-box2 {
    position: absolute;
    z-index: 0;
    top: 250px;
    left: 110px;
    pointer-events: none;
}

.bg-box3 {
    position: absolute;
    z-index: 0;
    top: 130px;
    left: 220px;
    pointer-events: none;
}

@media (max-width: 675px) {
    .btn-back {
        left: -5px;
        top: -10px;
    }
}