:root {
    --pr-color: #E54649;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    background: linear-gradient(132deg, #272727 0%, #1A1A1A 100%);
}

/* Navbar */
.navbar .navbar-nav a:hover {
    color: var(--pr-color);
}

.nav-link {
    font-size: 13px;
}

.nav-link.active,
.nav-link.topup {
    font-weight: 700;
}

.btn-search :placeholder-shown {
    font-size: 13px;
}

.btn-search {
    position: relative;
}

.icon-search {
    color: #B1B8C1;
    position: absolute;
    top: calc(50%);
    left: 1.15rem;
}

.btn-search label, .form-control-search {
    left: .5rem;
    padding-left: 2.7rem;
}

.button-regis,
.button-login {
    font-weight: 600;
    font-size: 13px;
    width: 150px;
}

/* Navbar End */

/* Produk */
.container {
    z-index: 99;
}

.garis-merah {
    z-index: -1;
    position: absolute;
    top: 658px;
    left: 70px;
}

.persegi-panjang {
    z-index: -5;
    position: absolute;
    top: 400px;
    right: 1px;
}

.persegi-panjang2 {
    z-index: -6;
    position: absolute;
    top: 600px;
    right: 80px;
}

.persegi-1 {
    z-index: -6;
    position: absolute;
    top: 730px;
    right: 1px;
}

.persegi-2 {
    z-index: -7;
    position: absolute;
    top: 900px;
    right: 1px;
}

.kotak-bg {
    z-index: -1;
    position: absolute;
    top: 158px;
}

.kotak-2 {
    z-index: -2;
    position: absolute;
    top: 110px;
    left: 225px;
}

.kotak-3 {
    z-index: -3;
    position: absolute;
    bottom: -300px;
}

.kotak-4 {
    z-index: -4;
    position: absolute;
    bottom: -180px;
    left: 30px;
}

.kotak-5 {
    z-index: -4;
    position: absolute;
    bottom: -90px;
    right: 400px;
}

.persegi {
    z-index: -4;
    position: absolute;
    top: 2000px;
    right: 5px;
}

.persegi2 {
    z-index: -4;
    position: absolute;
    top: 1900px;
    right: 200px;
}

.persegi3 {
    z-index: -5;
    position: absolute;
    top: 1830px;
    right: 320px;
}

.kotak-6 {
    z-index: -5;
    position: absolute;
    top: 1700px;
    right: 150px;
}

.kotak-7 {
    z-index: -5;
    position: absolute;
    top: 1500px;
    right: 0px;
}

.kotak-kiri1 {
    z-index: -5;
    position: absolute;
    top: 1530px;
    left: 0px;
}

.kotak-kiri2 {
    z-index: -5;
    position: absolute;
    top: 1430px;
    left: 0px;
}

.kotak-kiri3 {
    z-index: -5;
    position: absolute;
    top: 1630px;
    left: 0px;
}

.nav-tabs {
    border-radius: 8px;
}

.nav-link {
    border-radius: 8px;
}

.nav-item1 {
    box-shadow: 4px 4px 12px 0px rgba(177, 36, 39, 0.50);
    border-radius: 10px;
}

.nav-icon p {
    color: #FFF;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 3px;
}

.nav-icon2 p {
    color: var(--pr-color);
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 3px;
}

.title-favorit {
    margin-top: 30px;
    margin-bottom: -3px;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 34px;
}

.card-game {
    margin-left: 15px;
    margin-right: 15px;
    background-color: #444343;
    color: white;
    border-radius: 5px;
}

.card-img-top {
    border-radius: 5px;
    padding: 10px;
}

.card-text {
    margin-bottom: 5px;
}

.card-game p {
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    margin-top: 14px !important;
    margin-bottom: 14px !important;
}

.card-game span {
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
}

.col-md-2,
.col-sm-6,
.col-lg-2,
.col-6 {
    padding: 0.0rem;
}


/* Footer Section */
svg {
    z-index: -1;
    position: absolute;
    margin-top: 1400px;
}

#footer {
    z-index: 999;
    margin-top: 1500px;
    background-color: #272727;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    padding-top: 50px;
}

.wrapper-icon {
    position: relative;
    z-index: 1;
    margin-bottom: 100px !important;
}

.footer-icon,
.footer-icon2,
.footer-icon3,
.footer-icon4 {
    position: absolute;
    bottom: 0;
}

.footer-icon {
    top: 180px;
    right: 1px;
    width: 130px;
}

.footer-icon2 {
    top: 80px;
    width: 60px;
    height: 150px;
}

.footer-icon3 {
    top: 170px;
    width: 265px;
    height: 160px;
}

.footer-icon4 {
    top: 280px;
    width: 120px;
    height: 50px;
}

.wrapper-col-1 p {
    color: #FFF;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
}

.wrapper-col-1 img {
    position: relative;
    left: 43%;
}

.wrapper-icon a {
    position: relative;
    left: 27%;
    height: 2rem;
    font-size: 2rem;
}

.wrapper-icon, .facebook {
    color: blue;
    z-index: 100;
}

.wrapper-icon, .instagram {
    color: rgb(242, 41, 41);
    z-index: 100;
}

.wrapper-icon, .line {
    color: rgb(36, 206, 36);
    z-index: 100;
}

.wrapper-col-2 h4 {
    color: #FFF;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 34px;
}

.wrapper-col-2 a {
    text-decoration: none;
    color: var(--pr-color);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    display: flex;
}


/* CSS untuk Laptop */
@media (max-width: 992px) {
    .garis-merah {
        z-index: -1;
        position: absolute;
        top: 620px;
        left: 150px;
    }

    .facebook,
    .instagram,
    .line {
        padding-left: 20px;
        text-align: center;
    }

    .wrapper-icon {
        padding-left: 80px;

    }
}

/* CSS untuk tablet */
@media (max-width: 768px) {
    .garis-merah {
        z-index: -1;
        position: absolute;
        top: 650px;
        left: 118px;
    }

    .wrapper-icon {
        padding-left: 20px;
    }
}
